@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot") format("embedded-opentype"),
      url("../fonts/icomoon.ttf") format("truetype"),
      url("../fonts/icomoon.woff") format("woff"),
      url("../fonts/icomoon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-fitness:before {
    content: "\e900";
  }
  .icon-dessert:before {
    content: "\e901";
  }
  .icon-bakery:before {
    content: "\e902";
  }
  .icon-low_price:before {
    content: "\e903";
  }
  .icon-twenty_four_hour_cancellation:before {
    content: "\e904";
  }
  .icon-weather_wind:before {
    content: "\e905";
  }
  .icon-weather_windy_cloudy:before {
    content: "\e906";
  }
  .icon-weather_stormy:before {
    content: "\e907";
  }
  .icon-weather_heavy_thunder:before {
    content: "\e908";
  }
  .icon-weather_thunderstorm:before {
    content: "\e909";
  }
  .icon-weather_heavy_rain:before {
    content: "\e90a";
  }
  .icon-weather_rain:before {
    content: "\e90b";
  }
  .icon-weather_partly_cloudy:before {
    content: "\e90c";
  }
  .icon-weather_cloudy_night:before {
    content: "\e90d";
  }
  .icon-weather_cloudy:before {
    content: "\e90e";
  }
  .icon-weather_cloud:before {
    content: "\e90f";
  }
  .icon-weather_clear_night:before {
    content: "\e910";
  }
  .icon-transmission:before {
    content: "\e911";
  }
  .icon-fuel:before {
    content: "\e912";
  }
  .icon-doors:before {
    content: "\e913";
  }
  .icon-office:before {
    content: "\e914";
  }
  .icon-hospital:before {
    content: "\e915";
  }
  .icon-wine_beer:before {
    content: "\e916";
  }
  .icon-waitstaff:before {
    content: "\e917";
  }
  .icon-takeout:before {
    content: "\e918";
  }
  .icon-street_food:before {
    content: "\e919";
  }
  .icon-seating:before {
    content: "\e91a";
  }
  .icon-private_event:before {
    content: "\e91b";
  }
  .icon-outdoor_seating:before {
    content: "\e91c";
  }
  .icon-highchair:before {
    content: "\e91d";
  }
  .icon-directions:before {
    content: "\e91e";
  }
  .icon-delivery:before {
    content: "\e91f";
  }
  .icon-buffet:before {
    content: "\e920";
  }
  .icon-ambience:before {
    content: "\e921";
  }
  .icon-alcohol:before {
    content: "\e922";
  }
  .icon-food_drink:before {
    content: "\e923";
  }
  .icon-zoo_aquarium:before {
    content: "\e924";
  }
  .icon-theater_concerts:before {
    content: "\e925";
  }
  .icon-museums:before {
    content: "\e926";
  }
  .icon-fun_games:before {
    content: "\e927";
  }
  .icon-classes_workshops:before {
    content: "\e928";
  }
  .icon-shopping_bag_fill:before {
    content: "\e929";
  }
  .icon-accessible:before {
    content: "\e92a";
  }
  .icon-eye_fill:before {
    content: "\e92b";
  }
  .icon-eye:before {
    content: "\e92c";
  }
  .icon-seat_flat_bed:before {
    content: "\e92d";
  }
  .icon-seat_angled_bed:before {
    content: "\e92e";
  }
  .icon-seat_regular:before {
    content: "\e92f";
  }
  .icon-usb:before {
    content: "\e930";
  }
  .icon-power:before {
    content: "\e931";
  }
  .icon-television:before {
    content: "\e932";
  }
  .icon-bag:before {
    content: "\e933";
  }
  .icon-voucher:before {
    content: "\e934";
  }
  .icon-top_three:before {
    content: "\e935";
  }
  .icon-photo_id:before {
    content: "\e936";
  }
  .icon-beverage:before {
    content: "\e937";
  }
  .icon-audio:before {
    content: "\e938";
  }
  .icon-conference_center:before {
    content: "\e939";
  }
  .icon-multilingual:before {
    content: "\e93a";
  }
  .icon-internet:before {
    content: "\e93b";
  }
  .icon-dry_cleaning:before {
    content: "\e93c";
  }
  .icon-air_conditioning:before {
    content: "\e93d";
  }
  .icon-spa:before {
    content: "\e93e";
  }
  .icon-ski_in_ski_out:before {
    content: "\e93f";
  }
  .icon-ryokan:before {
    content: "\e940";
  }
  .icon-romantic:before {
    content: "\e941";
  }
  .icon-resort:before {
    content: "\e942";
  }
  .icon-outdoors:before {
    content: "\e943";
  }
  .icon-onsen:before {
    content: "\e944";
  }
  .icon-on_the_beach:before {
    content: "\e945";
  }
  .icon-luxury:before {
    content: "\e946";
  }
  .icon-family:before {
    content: "\e947";
  }
  .icon-castle:before {
    content: "\e948";
  }
  .icon-casino:before {
    content: "\e949";
  }
  .icon-menu:before {
    content: "\e94a";
  }
  .icon-duration:before {
    content: "\e94b";
  }
  .icon-filter:before {
    content: "\e94c";
  }
  .icon-map:before {
    content: "\e94d";
  }
  .icon-train:before {
    content: "\e94e";
  }
  .icon-taxi:before {
    content: "\e94f";
  }
  .icon-no_bag:before {
    content: "\e950";
  }
  .icon-youtube:before {
    content: "\e951";
  }
  .icon-twitter:before {
    content: "\e952";
  }
  .icon-facebook:before {
    content: "\e953";
  }
  .icon-pinterest:before {
    content: "\e954";
  }
  .icon-instagram:before {
    content: "\e955";
  }
  .icon-partner:before {
    content: "\e956";
  }
  .icon-notification_bell_fill:before {
    content: "\e957";
  }
  .icon-repost:before {
    content: "\e958";
  }
  .icon-map_and_pin:before {
    content: "\e959";
  }
  .icon-ports:before {
    content: "\e95a";
  }
  .icon-bathroom_fill:before {
    content: "\e95b";
  }
  .icon-text_message_fill:before {
    content: "\e95c";
  }
  .icon-sort:before {
    content: "\e95d";
  }
  .icon-compass_fill:before {
    content: "\e95e";
  }
  .icon-compass:before {
    content: "\e95f";
  }
  .icon-my_trips_fill:before {
    content: "\e960";
  }
  .icon-my_trips:before {
    content: "\e961";
  }
  .icon-suitcase_fill:before {
    content: "\e962";
  }
  .icon-suitcase:before {
    content: "\e963";
  }
  .icon-volume_on:before {
    content: "\e964";
  }
  .icon-volume_off:before {
    content: "\e965";
  }
  .icon-play:before {
    content: "\e966";
  }
  .icon-pause:before {
    content: "\e967";
  }
  .icon-users:before {
    content: "\e968";
  }
  .icon-verified_fill:before {
    content: "\e969";
  }
  .icon-verified_checkmark_fill:before {
    content: "\e96a";
  }
  .icon-bookmark_fill:before {
    content: "\e96b";
  }
  .icon-bookmark:before {
    content: "\e96c";
  }
  .icon-quote:before {
    content: "\e96d";
  }
  .icon-quote_decorative:before {
    content: "\e96e";
  }
  .icon-link:before {
    content: "\e96f";
  }
  .icon-repost_fill:before {
    content: "\e970";
  }
  .icon-flights_departure:before {
    content: "\e971";
  }
  .icon-flights_arrival:before {
    content: "\e972";
  }
  .icon-management_center:before {
    content: "\e973";
  }
  .icon-storyboard:before {
    content: "\e974";
  }
  .icon-photo:before {
    content: "\e975";
  }
  .icon-video_fill:before {
    content: "\e976";
  }
  .icon-gallery:before {
    content: "\e977";
  }
  .icon-wallet:before {
    content: "\e978";
  }
  .icon-wallet_fill:before {
    content: "\e979";
  }
  .icon-credit_card:before {
    content: "\e97a";
  }
  .icon-member_fill:before {
    content: "\e97b";
  }
  .icon-member:before {
    content: "\e97c";
  }
  .icon-layers:before {
    content: "\e97d";
  }
  .icon-favorite_pin:before {
    content: "\e97e";
  }
  .icon-tools:before {
    content: "\e97f";
  }
  .icon-lock_open_fill:before {
    content: "\e980";
  }
  .icon-lock_open:before {
    content: "\e981";
  }
  .icon-camera_fill:before {
    content: "\e982";
  }
  .icon-bell:before {
    content: "\e983";
  }
  .icon-award:before {
    content: "\e984";
  }
  .icon-level_badge_fill:before {
    content: "\e985";
  }
  .icon-level_badge:before {
    content: "\e986";
  }
  .icon-custom_note:before {
    content: "\e987";
  }
  .icon-traveler_article:before {
    content: "\e988";
  }
  .icon-feedback_love:before {
    content: "\e989";
  }
  .icon-share:before {
    content: "\e98a";
  }
  .icon-reply_fill:before {
    content: "\e98b";
  }
  .icon-dmo:before {
    content: "\e98c";
  }
  .icon-instant:before {
    content: "\e98d";
  }
  .icon-alert:before {
    content: "\e98e";
  }
  .icon-alert_fill:before {
    content: "\e98f";
  }
  .icon-checkbox_checked:before {
    content: "\e990";
  }
  .icon-checkbox_border:before {
    content: "\e991";
  }
  .icon-more_vertical:before {
    content: "\e992";
  }
  .icon-more_horizontal:before {
    content: "\e993";
  }
  .icon-settings_fill:before {
    content: "\e994";
  }
  .icon-diagonal_c_half_fill:before {
    content: "\e995";
  }
  .icon-lock_fill:before {
    content: "\e996";
  }
  .icon-lock:before {
    content: "\e997";
  }
  .icon-checkmark_c_fill:before {
    content: "\e998";
  }
  .icon-travelers_choice_badge:before {
    content: "\e999";
  }
  .icon-children:before {
    content: "\e99a";
  }
  .icon-star_rating_half:before {
    content: "\e99b";
  }
  .icon-star_rating_full:before {
    content: "\e99c";
  }
  .icon-add_friend_fill:before {
    content: "\e99d";
  }
  .icon-friend_fill:before {
    content: "\e99e";
  }
  .icon-special_offer_fill:before {
    content: "\e99f";
  }
  .icon-special_offer_fill_45deg:before {
    content: "\e9a0";
  }
  .icon-expand:before {
    content: "\e9a1";
  }
  .icon-external_link_no_box:before {
    content: "\e9a2";
  }
  .icon-arrow_left_thick:before {
    content: "\e9a3";
  }
  .icon-arrow_left:before {
    content: "\e9a4";
  }
  .icon-archive:before {
    content: "\e9a5";
  }
  .icon-arrow_down_thick:before {
    content: "\e9a6";
  }
  .icon-arrow_down:before {
    content: "\e9a7";
  }
  .icon-arrow_right_thick:before {
    content: "\e9a8";
  }
  .icon-arrow_right:before {
    content: "\e9a9";
  }
  .icon-restore:before {
    content: "\e9aa";
  }
  .icon-arrow_up_thick:before {
    content: "\e9ab";
  }
  .icon-arrow_up:before {
    content: "\e9ac";
  }
  .icon-night:before {
    content: "\e9ad";
  }
  .icon-prohibited:before {
    content: "\e9ae";
  }
  .icon-trash_fill:before {
    content: "\e9af";
  }
  .icon-announcement_fill:before {
    content: "\e9b0";
  }
  .icon-announcement_fill_26deg:before {
    content: "\e9b1";
  }
  .icon-present:before {
    content: "\e9b2";
  }
  .icon-child:before {
    content: "\e9b3";
  }
  .icon-adult:before {
    content: "\e9b4";
  }
  .icon-email_fill:before {
    content: "\e9b5";
  }
  .icon-comments_fill:before {
    content: "\e9b6";
  }
  .icon-comments:before {
    content: "\e9b7";
  }
  .icon-guides_fill:before {
    content: "\e9b8";
  }
  .icon-sun:before {
    content: "\e9b9";
  }
  .icon-bar:before {
    content: "\e9ba";
  }
  .icon-smoking_prohibited:before {
    content: "\e9bb";
  }
  .icon-smoking:before {
    content: "\e9bc";
  }
  .icon-pet_friendly:before {
    content: "\e9bd";
  }
  .icon-pool:before {
    content: "\e9be";
  }
  .icon-activities:before {
    content: "\e9bf";
  }
  .icon-empty_cart:before {
    content: "\e9c0";
  }
  .icon-arrow_left_prohibited:before {
    content: "\e9c1";
  }
  .icon-tickets:before {
    content: "\e9c2";
  }
  .icon-notification_bell:before {
    content: "\e9c3";
  }
  .icon-coffee_tea_cafe:before {
    content: "\e9c4";
  }
  .icon-parking:before {
    content: "\e9c5";
  }
  .icon-wifi:before {
    content: "\e9c6";
  }
  .icon-amusement_parks:before {
    content: "\e9c7";
  }
  .icon-green_leaders:before {
    content: "\e9c8";
  }
  .icon-certificate_of_excellence:before {
    content: "\e9c9";
  }
  .icon-thumbs_down_fill:before {
    content: "\e9ca";
  }
  .icon-thumbs_up_fill:before {
    content: "\e9cb";
  }
  .icon-search:before {
    content: "\e9cc";
  }
  .icon-question_c_fill:before {
    content: "\e9cd";
  }
  .icon-question_c:before {
    content: "\e9ce";
  }
  .icon-information_c_fill:before {
    content: "\e9cf";
  }
  .icon-information_c:before {
    content: "\e9d0";
  }
  .icon-exclamation_c_fill:before {
    content: "\e9d1";
  }
  .icon-exclamation_c:before {
    content: "\e9d2";
  }
  .icon-caret_left:before {
    content: "\e9d3";
  }
  .icon-caret_down:before {
    content: "\e9d4";
  }
  .icon-caret_right:before {
    content: "\e9d5";
  }
  .icon-caret_up:before {
    content: "\e9d6";
  }
  .icon-single_chevron_left_c_fill:before {
    content: "\e9d7";
  }
  .icon-single_chevron_left_c:before {
    content: "\e9d8";
  }
  .icon-single_chevron_left:before {
    content: "\e9d9";
  }
  .icon-single_chevron_down_c_fill:before {
    content: "\e9da";
  }
  .icon-single_chevron_down_c:before {
    content: "\e9db";
  }
  .icon-single_chevron_down:before {
    content: "\e9dc";
  }
  .icon-single_chevron_right_c_fill:before {
    content: "\e9dd";
  }
  .icon-single_chevron_right_c:before {
    content: "\e9de";
  }
  .icon-single_chevron_right:before {
    content: "\e9df";
  }
  .icon-single_chevron_up_c_fill:before {
    content: "\e9e0";
  }
  .icon-single_chevron_up_c:before {
    content: "\e9e1";
  }
  .icon-single_chevron_up:before {
    content: "\e9e2";
  }
  .icon-refresh_zapper:before {
    content: "\e9e3";
  }
  .icon-refresh:before {
    content: "\e9e4";
  }
  .icon-menu_bars:before {
    content: "\e9e5";
  }
  .icon-minus_c_fill:before {
    content: "\e9e6";
  }
  .icon-minus_c:before {
    content: "\e9e7";
  }
  .icon-minus:before {
    content: "\e9e8";
  }
  .icon-plus_c_fill:before {
    content: "\e9e9";
  }
  .icon-plus_c:before {
    content: "\e9ea";
  }
  .icon-plus:before {
    content: "\e9eb";
  }
  .icon-times_c_fill:before {
    content: "\e9ec";
  }
  .icon-times_c:before {
    content: "\e9ed";
  }
  .icon-times:before {
    content: "\e9ee";
  }
  .icon-checkmark:before {
    content: "\e9ef";
  }
  .icon-checkmark_boxed:before {
    content: "\e9f0";
  }
  .icon-external_link:before {
    content: "\e9f1";
  }
  .icon-lightbulb_on:before {
    content: "\e9f2";
  }
  .icon-printer:before {
    content: "\e9f3";
  }
  .icon-phone:before {
    content: "\e9f4";
  }
  .icon-flag_fill:before {
    content: "\e9f5";
  }
  .icon-star_fill:before {
    content: "\e9f6";
  }
  .icon-star:before {
    content: "\e9f7";
  }
  .icon-email:before {
    content: "\e9f8";
  }
  .icon-neighborhoods_fill:before {
    content: "\e9f9";
  }
  .icon-neighborhoods:before {
    content: "\e9fa";
  }
  .icon-mobile_phone:before {
    content: "\e9fb";
  }
  .icon-laptop:before {
    content: "\e9fc";
  }
  .icon-special_offer:before {
    content: "\e9fd";
  }
  .icon-special_offer_45deg:before {
    content: "\e9fe";
  }
  .icon-nearby_fill:before {
    content: "\e9ff";
  }
  .icon-map_pin_fill:before {
    content: "\ea00";
  }
  .icon-map_pin:before {
    content: "\ea01";
  }
  .icon-globe_world:before {
    content: "\ea02";
  }
  .icon-globe_americas:before {
    content: "\ea03";
  }
  .icon-clock:before {
    content: "\ea04";
  }
  .icon-calendar:before {
    content: "\ea05";
  }
  .icon-friends:before {
    content: "\ea06";
  }
  .icon-friend:before {
    content: "\ea07";
  }
  .icon-heart_fill:before {
    content: "\ea08";
  }
  .icon-heart:before {
    content: "\ea09";
  }
  .icon-camera:before {
    content: "\ea0a";
  }
  .icon-pencil:before {
    content: "\ea0b";
  }
  .icon-pencil_paper:before {
    content: "\ea0c";
  }
  .icon-bubble_rating_empty:before {
    content: "\ea0d";
  }
  .icon-bubble_rating_half:before {
    content: "\ea0e";
  }
  .icon-bubble_rating_full:before {
    content: "\ea0f";
  }
  .icon-bubble_rating_bg:before {
    content: "\ea10";
  }
  .icon-ta_ollie:before {
    content: "\ea11";
  }
  .icon-cruises:before {
    content: "\ea12";
  }
  .icon-forums:before {
    content: "\ea13";
  }
  .icon-guides:before {
    content: "\ea14";
  }
  .icon-flights:before {
    content: "\ea15";
  }
  .icon-vacation_rentals:before {
    content: "\ea16";
  }
  .icon-attractions:before {
    content: "\ea17";
  }
  .icon-restaurants:before {
    content: "\ea18";
  }
  .icon-hotels:before {
    content: "\ea19";
  }
  